html, body {
  height: 100%;
  width: 100%;
  background: rgba(207, 232, 242, 0.5);
  font-family: Montserrat, sans-serif;
  color: rgb(61, 65, 81);
}
/* Reset the default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/* Style the navigation bar */
nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the main content */
main {
  margin: 20px;
}

/* Style the header of the healthy routine section */
.header {
  background-color: #ADD8E6;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Style the input and button in the healthy routine section */
#myInput {
  border: none;
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.addBtn:hover {
  opacity: 1;
}

/* Style the list in the healthy routine section */
#myUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#myUL li {
  padding: 12px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin-top: -1px;
  position: relative;
}

#myUL li:first-child {
  border-top: none;
}

#myUL li.checked {
  background-color: #888;
  color: white;
  text-decoration: line-through;
}

/* Style the close button on each list item */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
footer{
  text-align: center ;
  margin-top: 16%;
}
